{% extends 'base.html' %}

{% block titulo %}
    Home Filmes
{% endblock %}

{% block content %}
    <div class="py-12">
        <h1>Essa á homefilmes</h1>
        {% for filme in object_list %}
        <hr>
            <a href="{% url 'filme:detalhesfilme' filme.pk %}"><p>{{ filme.titulo }}</p></a>
            <p>{{ filme.descricao }}</p>
            <img src="{{ filme.thumb.url }}">
        {% endfor %}
    </div>
    <div class="py-10">
        <h2>Recentes</h2>
        {{ lista_filmes_recentes }}
    </div>
    <div>
        <h2>Em Alta</h2>
        {{ lista_filmes_emalta}}
    </div>

{% endblock %}